/* $color1: blue;
$color2: red */
.navestilos {
  background-color: #1F2833;
}

.nav-item a:hover {
  background-color: #45A29E;
  font-size: 25px;
  transition: 0.8s;
  font-weight: bold;
  border-radius: 35px;
}

#tex1 {
  font-size: 32px;
  font-weight: 1000;
  font-family: "Caveat", cursive;
}

#tex2 {
  font-size: 32px;
  font-weight: 1000;
  font-family: "Caveat", cursive;
}

#textCategoria {
  font-size: 25px;
  font-weight: 1000;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.d-block {
  overflow: hidden;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  margin-top: 50px;
  width: 400px;
  height: auto;
}

.card img {
  height: 180px;
}

.tarjetas1 h2 {
  text-align: center;
  margin-top: 50px;
}

main {
  padding-top: 30px;
}

.titulocategorias {
  text-align: center;
}

.estadisticasjuego {
  text-align: center;
  font-size: 25px;
  font-weight: 1000;
}

#cardestadisticas {
  width: 70%;
  height: auto;
}

.card-title {
  color: black;
}

#textcat {
  margin-top: 12px;
}

.row1 {
  position: absolute;
}

/* about */
.about .member {
  padding: 30px;
  border: 5px solid white;
  border-radius: 20px;
  background: #F9F9FD;
  transition: 0.5s;
}

.about .member:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  background: #fff;
}

.about .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #FC562C;
}

.about .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.about .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.about .member a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 38px;
  height: 38px;
  border: 1px solid;
}

.about .member a:hover {
  background: #0061F2;
  color: white;
}

.solitario3 {
  width: 50%;
  margin-left: 25%;
}

footer div {
  background-color: rgba(0, 0, 0, 0.2);
}

.imagen a img {
  width: 90%;
  margin-left: 10%;
  height: 120px;
  margin-top: 60px;
}

#rondaDin {
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 50px;
  font-weight: 1000;
  font-family: "Caveat", cursive;
  text-shadow: 3px 5px 5px #080808;
  color: rgb(239, 122, 14);
}

#premioDin {
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 50px;
  font-weight: 1000;
  font-family: "Caveat", cursive;
  text-shadow: 5px 5px 5px;
  color: rgb(200, 17, 32);
}

.containercampeon {
  background-image: url("../images/starfall-gif-67.gif");
  padding-top: 70px;
  width: 80%;
  height: 300px;
  text-align: center;
  justify-content: center;
}
.containercampeon h2 {
  margin-top: 5px;
  margin-left: 40px;
  font-size: 80px;
  font-family: "Caveat", cursive;
  text-shadow: 5px 5px 5px;
  font-weight: 500;
}

.body {
  overflow: hidden;
}

.bienvenido {
  text-align: center;
  font-family: "Caveat", cursive;
  color: #17086d;
  margin-top: 10px;
}
.bienvenido h1 {
  font-weight: bold;
  font-size: 70px;
}

.frases {
  text-align: center;
  margin-top: 5px;
  font-family: "Satisfy", cursive;
}

#temacategoria {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

#pregunta {
  text-align: center;
  margin-top: 15px;
  font-family: "Caveat", cursive;
  font-size: 40px;
  font-weight: 800;
}

#relacion {
  text-align: center;
}

#respuestasCol1 {
  margin-top: 10px;
  justify-content: center;
}
#respuestasCol1 .respuestas {
  color: #920c17;
  height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  border: 2px, solid #0971ad;
  color: #032d46;
  font-weight: bold;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 95%;
}
#respuestasCol1 .respuestas:hover {
  background-color: #0971ad;
  color: white;
}

#estadistica h3 {
  margin-left: 4px;
}

#buttonretirar {
  margin-top: 20px;
  font-size: 8px;
  font-weight: 90;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#buttonretirar {
  width: calc(10vw + 6px);
  height: calc(4vw + 6px);
  background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: bold;
}

#buttonretirar:after {
  content: attr(alt);
  width: 10vw;
  height: 4vw;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonretirar:hover {
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
#estadistica {
  margin-top: 60px;
  border: 3px dotted #ff8833;
  padding: 10px;
  width: auto auto;
  margin-right: 20px;
}
#estadistica h1 {
  text-align: center;
}

#retirarboton {
  margin-left: 50px;
}

#imgretirar img {
  height: 100px;
  margin-top: 50px;
}

#textomotivacion {
  font-family: "Kalam", cursive;
  font-weight: 1000;
  text-align: center;
  margin-top: 50px;
}
#textomotivacion h3 {
  text-align: center;
}
#textomotivacion p {
  text-align: center;
  font-size: 25px;
}

#avatar img {
  width: 50%;
  margin-left: 20%;
  height: 150px;
  margin-top: 10px;
}
#avatar h3 {
  margin-left: 100px;
  font-family: "Architects Daughter", cursive;
  font-weight: 800;
}

#estadisticaFinal {
  padding: 10px;
  font-family: "Architects Daughter", cursive;
}
#estadisticaFinal h3 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
#estadisticaFinal h2 {
  text-align: left;
  position: relative;
}
#estadisticaFinal h2:hover {
  color: rgb(164, 17, 184);
  text-decoration: underline;
}

.zoom {
  transition: 1.5s ease;
  -moz-transition: 1.5s ease;
  /* Firefox */
  -webkit-transition: 1.5s ease;
  /* Chrome - Safari */
  -o-transition: 1.5s ease;
  /* Opera */
}

.zoom:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  /* Firefox */
  -webkit-transform: scale(1.5);
  /* Chrome - Safari */
  -o-transform: scale(1.5);
  /* Opera */
  -ms-transform: scale(1.5);
  /* IE9 */
  color: rgb(197, 4, 100);
}

#imgperder img {
  height: 250px;
}

#imgganar img {
  height: 100px;
  margin-top: 50px;
}

#ganar {
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
