.container{
    margin-top: 50px;
}
.estilosbutton{
    background-color: #1F2833;
    border: 2px solid transparent;
    border-radius: 15px;
    width: 90%;
    margin-top: 6px;
    height: 60px;
    color: white;
    font-weight: 500;
}


.estilosbutton:hover {

    background-color:#66FCF1;
    font-size: 20px;
    transition: 1.2s;
    font-weight: bold;
    color: black;
  }


  /* Estilos para mi historico0. */
  #containerformulario{
      margin-top: 40px

  }
  #misestadisticas{
  height: 35px;
  width: 60%;
  border: 2px solid ;
  border-radius: 15px;


  }


  #btnhistorico{
    height: 47px;
    width: 30%;
    background-color: #1F2833;
    border: 2px solid transparent;
    border-radius: 15px;
    margin-top: 6px;
    color: white;
    font-weight: 500;
    margin-left: 15px;

  }
  
  #buscarestadisticas{
      width: 50%;
      height: 45px;
      border-radius: 15px;
      margin-top: 12px;
  }

  #table{
      margin-left: 10%;
      width: 45%;
      margin-top: 50px;
      text-align: center;
      justify-content: center;

  }
  #tablepersonal{
    margin-left: 10%;
    width: 45%;
    margin-top: 50px;
    text-align: center;
    justify-content: center;

}

  #table2{
    margin-left: 10%;
    width: 45%;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
  }


  