body {
  overflow: hidden;
}
.bienvenido {
  text-align: center;
  font-family: "Caveat", cursive;
  color: #17086d;
  margin-top: 10px;
  h1 {
    font-weight: bold;
    font-size: 70px;
  }
}
.frases {
  text-align: center;
  margin-top: 5px;
  //font-family: 'Water Brush', cursive;
  font-family: 'Satisfy', cursive;
}

#temacategoria {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

#pregunta {
  text-align: center;
  margin-top: 15px;
  font-family: "Caveat", cursive;
  font-size: 40px;
  font-weight: 800;
}

#relacion {
  text-align: center;
}
#respuestasCol1 {
  margin-top: 10px;
  justify-content: center;
  .respuestas {
    color: #920c17;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    border: 2px, solid #0971ad;
    color: #032d46;
    font-weight: bold;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 95%;
  }

  .respuestas:hover {
    background-color: #0971ad;
    color: white;
  }
}
#estadistica {
  h3 {
    margin-left: 4px;
  }
}

#buttonretirar {
  margin-top: 20px;
  font-size: 8px;
  font-weight: 90;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 2px solid black;

  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#buttonretirar {
  width: calc(10vw + 6px);
  height: calc(4vw + 6px);
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: bold;
}
#buttonretirar:after {
  content: attr(alt);
  width: 10vw;
  height: 4vw;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}
#buttonretirar:hover {
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
#estadistica {
  margin-top: 60px;
  border: 3px dotted #ff8833;
  padding: 10px;
  width: auto auto;
  margin-right: 20px;
  h1 {
    text-align: center;
  }
}
#retirarboton {
  margin-left: 50px;
}
