.navestilos{
    background-color:$color1 ;
}

.nav-item a:hover{
    background-color:$color2 ;
    font-size: 25px;
    transition: 0.8s;
    font-weight:bold;
    border-radius: 35px;
}
#tex1{
    font-size: 32px;
    font-weight: 1000;
    font-family: "Caveat", cursive;
}
#tex2{
    font-size: 32px;
    font-weight: 1000;
    font-family: "Caveat", cursive;
}
#textCategoria{
    font-size: 25px;
    font-weight: 1000;
}