
  
  .register3-bg{
    background-image: url("../images/ct.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  
  @media (max-width: 1200px) {
    .register3-bg {
        min-height: 50vh;
    }
  }