
@import "_variables.scss";
@import "_navBar.scss";
@import "_carousel.scss";
@import "_cardsindex1.scss";
@import "_nosotros.scss";
@import "_footer.scss";


.containertable{
    margin-top: 60px;
    width: 60%;
    margin-left: 20%;
    background-color: antiquewhite;
}